{
  "environment": "production",
  "log_output": "logs/sync.log",
  "log_level": "info",
  "tv_time": {
    "token": {
      "symfony": "",
      "tvst_remember": ""
    },
    "accept_language": ""
  },
  "plex": {
    "base_url": "",
    "token": "",
    "account_id": 1,
    "init_viewed_at": ""
  },
  "timer": 1,
  "file_storage": {
    "filename": "files/link.json"
  }
}